
.weather-bot
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: auto;
    align-content: center;
    justify-items: center;
    gap: 8px;
    margin: 10px;


}

.forecast-item2 h3
{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
}



.forecast-item2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    width: 200px;
    height: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, rgba(75, 131, 188, 0.4),rgba(147, 134, 198, 0.4));
    border-radius: 13px;

    
   transition: 0.3s;
}

.forecast-item2:hover
{
    transform:scale(0.9);
}

.forecast-item img
{
    object-fit: contain;
    border-radius: 25%;
    height: 80%;
}

.forecast-item h3
{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.forecast-item .min 
{
    font-family: monospace sans-serif;
    font-size: 10px;
    opacity: 0.6;
}

.forecast-item .max 
{
    font-family: monospace sans-serif;
    font-size: 15px;
    font-weight: bold;
    opacity: 1.1;
}

.forecast-item .avg
{
    font-family: monospace sans-serif;
    font-size: 10px;
}